* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  user-select: none;
}

.App {
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
